.stores{
    text-align:center;
    margin: 10px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.store img{
    margin: auto;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    display: block;
}


.store{
    flex-basis: 31%;
    position: relative;
}

.store:hover{
    background: white;

}
.external_link{
     position: absolute;
     border-radius: 10px;
     top: 0;
     left: 70%;
     bottom: 0;
     cursor: pointer;
     right: 0;
     background: rgba(255, 255, 255, 1);
     color: black;
     opacity: 0;
     transition: 0.2s;
    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.external_link:hover{
    background: #730206;
    color: white;
}

.external_link a{
    width: 25px;
    height: 25px;
  }

  .cart-icon{
    width: 20px;
    height: 20px;
  }



.external_link img{
    width: 60px;
    margin-bottom: 10px;
} 

.store:hover .external_link{
    opacity: 1;
}

/*-------------- Media query --------------*/
@media (max-width: 650px) {
    .stores{
        flex-direction: column;
    }

    .store{
        flex-basis: 100%;
        margin-top: 10px;
    }
}