.about{
    margin: 100px 0px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    color: white;
}

.about-right{
    flex-basis: 50%;
}

.about-left{
    flex-basis: 100%;
}

.skill{
    background: rgb(224, 224, 224);
    color: black;
    width: 70%;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    outline: 0;
    text-align: center;
}

.skill:hover{
    background: #61BC21;
    color: white;
}

.skill-icon{
    width: 25px;
    height: 25px;
}

.about-img{
    width: 500px;
}

.about h3{
    font-weight: 600;
    font-size: 16px;
}

.highlight{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #61BC21;
    font-style: normal;
}

.about h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 36px;
    font-style: normal;
    margin: 10px 0;
    max-width: 80%;
}

.about p{
    margin-bottom: 40px;
}

/*-------------- Media query --------------*/
@media (max-width: 1000px) {
    .about-img{
        width: 100%;
    }    
}
/*-------------- Media query --------------*/
@media (max-width: 650px) {
    .about{
        flex-direction: column;
    }        
    
    .about-right img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .about-left{
        flex-basis: 106%;
    }   
    
    .about h2{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 32px;
        font-style: normal;
        margin: 10px 0;
        max-width: 100%;
    }    

    .highlight{
        font-family: "Poppins", sans-serif;
        font-size: 32px;
    }
}