.icons{
    margin: 80px auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}