.icons{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.icons a{
    transition: 0.5s;
}

.icon{
    width: 30px;
    height: 30px;
    margin: 20px 20px;
    cursor: pointer;
    display: block;
}

.icons a:hover{
    color: white;
    background-color: #61BC21;
}

/*-------------- Media query --------------*/
@media (max-width: 650px) {
    .icon{
        width: 20px;
        height: 20px;
        padding: 10px 10px;
        margin: 15px;
    }
}